@import 'base/global';
@import 'layout/home/footer';
@import 'components/actionBtn';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    margin-top:100px;
    @media screen and (max-width:365px){
        margin-top:00px;
    }
}

.main-content {
    display: flex;
    margin-bottom:100px;

}

.slider-container {
    position: relative;

    &__images {

        .active {
            opacity: 1;
        }

        img {
            opacity: 0;
            position: absolute;
            right: 64px;
            top: 100px;
            transition: opacity 2s;
        }
    }
}

.form-container {

    .register{
        .app-name{
            margin-bottom:20px;
        }
        .register-text{
            text-align: center;
            color:#8e8e8e;
            font-size:17px;
        }
        .action-btn{
            width: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
            margin-top:20px;
            .fa-facebook-square{
                font-size:20px;
                margin-right:8px;
            }
        }

    }


    .error-message{
        color:red;
        font-size:14px;
        margin: 10px 0;
        text-align:center;
    }

    >div {
        padding: 0 40px;
    }



    .app-name {
        margin: 22px auto 36px;
        height: 51px;
        width: 175px;
        display: block;
    }

    .login {
        padding-top: 10px;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }

    .input-container {
        position: relative;
        height: 36px;
        display: block;
        margin-bottom: 6px;
        display:flex;
        &__end{
            padding-left:8px;
            background-color:#fafafa;
            border: 1px solid #dbdbdb;
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
            border-left:none;
            font-size:14px;
            font-weight:bolder;
            display:flex;
            align-items:center;
        }
        &__show{
            padding-right:8px;
            cursor:pointer;
        }

        .upper-placeholder {
            padding-left: 8px;
            padding-top: 4px;
            position: absolute;
            top: 0;
            left: 0;
            font-size: $small-letter;
            color: #8e8e8e;
        }

        input {
            padding: 14px 0 2px 8px;
            width: 100%;
            border-radius: 3px;
            border: 1px solid #dbdbdb;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right:none;
        }
        input:focus{
            outline:none;
        }

    }

    .login-form {

        .submit-btn {
            background-color: #0095f6;
            width: 100%;
            color: white;
            border-radius: 4px;
            border: 1px solid transparent;
            padding: 5px 0;
            font-weight: bolder;
            font-size: 14px;
            margin: 8px 0;
            cursor:pointer;
        }
    }

    .separator {
        display: flex;
        align-items: center;
        margin: 10px 0 18px;

        .content {
            margin: 0 18px;
            color: #8e8e8e;
            font-size: 13px;
            font-weight: bold;
        }

        .line {
            height: 1px;
            flex-grow: 1;
            background-color: #dbdbdb;
        }
    }

    .login-facebook {
        display: flex;
        justify-content: center;
        text-decoration: none;

        .facebook-logo {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }

        &__text {
            color: #385185;
            font-size: 14px;
            font-weight: bolder;

        }
    }

    .forgot-password {
        text-decoration: none;
        font-size: 12px;
        color: #00376b;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .apps>img {
        height: 40px;
        cursor:pointer;
    }

    .apps {
        &__text {
            text-align: center;
            margin: 20px 0;
            font-size: 14px;
        }
    }

    .sign-up {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
        font-size: 14px;

        &__btn {
            text-decoration: none;
            font-weight: bolder;
            color: #0095f6;
        }
    }
}



@media screen and (max-width: 875px ){
    .slider-container{
        display:none;
    }
}