.modal{
    z-index:9999;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.7);
    .modal-content{
    
    }
}
