* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #fafafa;
}

body.hide-overflow {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

.box {
  border-radius: 1px;
  background-color: white;
  border: 1px solid #dbdbdb;
}

.hide,
.modal.hide {
  display: none;
}

.clickable {
  cursor: pointer;
}

body .friends-modal > li {
  justify-content: space-between;
  padding: 5px;
  padding-right: 10px;
  cursor: default;
}

body .friends-modal > li > a {
  justify-content: flex-start;
  width: auto;
}

body .friends-modal li .edit-btn {
  font-weight: bolder;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  padding: 5px 9px;
  min-height: auto;
  white-space: nowrap;
  width: auto;
}

body .friends-modal .profile-info {
  margin: 0;
  padding: 0;
}

body .friends-modal__user-info {
  display: flex;
  flex-direction: column;
}

body .friends-modal__user-info .search-username {
  font-weight: bolder;
  font-size: 14px;
}

body .friends-modal__user-info .search-name {
  color: #8e8e8e;
  font-size: 14px;
}

