.posts-container{
    margin-bottom:24px;
}
.post{
    margin-bottom:60px;
    &__username{
        font-weight:bolder;
        font-size:14px;
        margin-left:12px;
    }
    &__header{
        padding:12px;
        display:flex;
        justify-content: space-between;
        align-items:center;

        .profile-info{
            .round-profile-img{
                flex-direction:row;
                .profile-image-container{

                    height:46px;
                    width:46px;
                    img{
                        height:42px;
                        width:42px;
                    }
                }

            }
        }
        .post-options{
            cursor:pointer;
            height:46px;
            display:flex;
            align-items:center;
        }
    }
    &__slider{
        position:relative;
        max-width:612px;
        .arrow-btn{
            opacity:0.8;
        }
        &--images{
            width:100%;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 0px;
                height: 0px;
                /* width of the entire scrollbar */
            }
            scroll-snap-type: x mandatory;
            touch-action:auto;
            display:flex;
            overflow:hidden;
        >li{
            flex-shrink: 0;
            width:100%;
            scroll-snap-align:center;
        }
        img{
            width:100%;
            object-fit:cover;
            display:block;
        }
        }
    }

    &__actions{
        display:flex;
        justify-content:space-between;

        .left-actions{
            width:130px;
        }
        .right-actions{
            width:130px;
            display:flex;
            justify-content: flex-end;
        }
        svg{
            margin:8px;
            width:24px;
            height:24px;
        }

        .images-indicator{
            ul{
                display:flex;
                justify-content: center;
                margin: 8px;
                li{
                    margin: 0 3px;
                    height:6px;
                    width:6px;
                    border-radius:50%;
                    background-color:#8e8e8e;
                &.active{
                    background-color:#0095f6;
                }
                }
            }
        }
    }
    &__likes{
        margin:0 8px 8px;
        font-weight:bolder;
        font-size:14px;
    }
    &__description{
        font-size:14px;
        .post__username{
            margin-left:8px;
        }
    }
    &__comments{
        margin: 8px;
        font-size:14px;
        &--username{
            font-weight:bolder;
            font-size:14px;
        }
        &--show-all{
            color:#8e8e8e;
            cursor:pointer;
        }
        .username-tag{
            color:#00376b;
        }
    }
    &__publishing-date{
        font-size:10px;
        color:#8e8e8e;
        margin:8px;
    }
    &__add-comment{
        border-top:1px solid #dbdbdb;
        form{
            margin:16px 8px;
            font-size:14px;
            display:flex;
            input{
                font-size:14px;
                border:none;
                outline:none;
                background-color:transparent;
            }
            input[type=text]{
                
                flex-grow:1;
               
            }
            input[type=submit]{
                font-weight:bolder;
                color:#0095f6;
                cursor:pointer;
            }
        }
    }
}